abstract=
ontologyTitle="The Photon and Neutron Experimental Technique ontology"
ontologyPrefix=panet
ontologyNamespaceURI=http://purl.org/pan-science/PaNET/
ontologyName=PaNET
thisVersionURI=
latestVersionURI=
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=
licenseURI=
licenseName=
licenseIconURL=
citeAs=
DOI=
status=
backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=
authorsURI=
authorsInstitution=
authorsInstitutionURI=
contributors=
contributorsURI=;
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=
TurtleSerialization=
N3Serialization=
JSONLDSerialization=