abstract="Photon and Neutron Experimental Techniques: An ontology of  techniques within the photon and neutron (PaN) domain.

Purpose

The main purpose of this ontology is to provide a controlled vocabulary, global PIDs and annotations 
for photon and neutron techniques, to support PaN FAIR data catalogue functionality.

Design philosophy

In this simple ontology everything is a class and all classes are techniques. Object property relations
are implied but not formalized in this version. Subclass/superclass relationships and intersections are 
used to define specific technique classes in terms of broader superclasses. This is seen as a key
requirement in order to carry out catalogue searcher for broader concepts, for example.

This project was undertaken under ExPaNDS WP3.2 (https://expands.eu/)

The ontology is can be found here: https://github.com/ExPaNDS-eu/ExPaNDS-experimental-techniques-ontology

Photon and neutron PaN ontologies developed under ExPaNDS are documented here: https://doi.org/10.5281/zenodo.4806026"
ontologyTitle=The Photon and Neutron Experimental Technique ontology"
ontologyPrefix=panet
ontologyNamespaceURI=http://purl.org/pan-science/PaNET/
ontologyName=PaNET
thisVersionURI=
latestVersionURI=
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=
licenseURI=
licenseName=
licenseIconURL=
citeAs=
DOI=
status=
backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=
authorsURI=
authorsInstitution=
authorsInstitutionURI=
contributors=
contributorsURI=;
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=
TurtleSerialization=
N3Serialization=
JSONLDSerialization=